<?xml version="1.0" encoding="utf-8" ?>
<configuration> <!--Aqui vão as configurações. Idioma, conexão, etc...-->
	
	<appSettings>
		<add key="IdiomaRegiao" value="pt-BR"/> <!--Chave/Valor Poss value: pt-BR, en-US, es-->
	</appSettings>
	<connectionStrings>
		<clear/>
<add name="BD" providerName="System.Data.SqlClient"
					 connectionString="Data Source=MARCOS;Initial Catalog=pastelaria_db;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
</configuration>